/* Entire Page */
* {
    font-family: Arial, 'Times New Roman', Times;
    margin: 0px;
    padding: 0px;
}
button {
    padding: 20px;
    margin: 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    background-color: lightblue;
    color: black;
    text-align: center;
    width: 7%;
}

/* Main */
.main button {
    padding: 40px;
}

/* Start Page */
.startPage {
    text-align: center;
}
#timercontainer {
    display: flex;
}

/* First Question Page */
.firstQuestionPage {
    display: none;
    text-align: center;
    justify-content: center;
}
.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Second Question Page */
.secondQuestionPage {
    display: none;
    text-align: center;
}
.thirdQuestionPage {
    display: none;
    text-align: center;
}
.fourthQuestionPage {
    display: none;
    text-align: center;
}
.fifthQuestionPage {
    display: none;
    text-align: center;
}

/* End Page */
.endPage {
    display: none;
    text-align: center;
}
#finalscore {
    margin-top: 10px;
}
#score {
    margin-bottom: 8px;
}
.flex-container {
    display: flex;
    align-items: center;
}
textarea {
    resize: none;
    width: 200px;
    height: 20px;
}
